<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form>
                    <label for="articleURL">Article to process:</label><br>
                    <input type="text" id="articleURL" name="articleURL" value="" placeholder="Please enter a URL"><br>
                    <button id="process" type="submit">Process article</button>
                </form>
            </section>

            <section>
                <strong>Results</strong>
                <div id="results">
                    <div id="subjectivityHolder"></div>    
                    <div id="agreementHolder"></div>    
                    <div id="ironyHolder"></div>    
                    <div id="confidenceHolder"></div>    
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
    </body>
</html>